{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog/styles.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <main>
        <h1>Bienvenidos a mi pagina personal</h1>
        <h2>Archivo personal de mis posts</h2>

        </hr>

        {% block content %}{% endblock %}
    </main>
    
</body>
</html>